<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-md-2 col-lg-2 mt-5 text-center">
            <%= render 'titles/title', title: @title, user: @user %>
            <% if @user.id == current_user.id %>
                <%= link_to "メモ一覧", notes_path(:title_id => @title.id), class:"btn btn-secondary" %>
            <% end %>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 mt-5">
            <%= form_with model: @note, local:true do |f| %>
                <div>
                    <%= f.label :"メモ"%>
                    <%= f.text_field :note, class:"form-control" %>
                </div>
                <div class="mt-3 text-center"><%= f.submit '更新する', class:"btn btn-success col-sm-12 col-md-6 col-lg-6" %></div>
            <% end %>
        </div>
    </div>
</div>
