<div class="container">
    <div class="row">
        <div class="col">
            <%= attachment_image_tag @title, :image, size: "100x150", format:'jpg' %>
            <%= @title.title_name %>
        </div>
        <div class="col">
            <% @title.notes.each do |note| %>
            <%= note.note %>
            <%= link_to "編集", edit_note_path(note.id) %>
            <%= link_to "削除", note_path(note.id), method: :delete %>
            <% end %>
        </div>
    </div>
</div>