<div class="container">
    <div class="row">
        <div class="col">
            <%= link_to user_path(@user.id) do %>
            <%= attachment_image_tag @title, :image, size:"100x150", format:'jpeg' %>
            <%= @title.title_name %>
            <%= attachment_image_tag @user, :profile_image, size:"60x60", format:'jpeg', fallback:"no_image.jpg" %>
            <%= @user.name %>
            <% end %>
        </div>
        <div class="col">
            <%= form_with model:@input, local: true do |f| %>
            <p>インプットの内容:　<%= f.text_field :input %></p>
            <p>使えそうな場面:　<%= f.text_field :terget %></p>
            <%= f.submit "更新する" %>
            <% end %>
        </div>
    </div>
</div>
