<div class="container">
    <div class="row">
        <div class="col">
            <%= attacment_image_tag @title, :image, fill, 60, 60, format:'jpeg' %>
            <%= @title.title %>
            <%= attacment_image_tag @user, :image, fill, 60, 60, format:'jpeg' %>
            <%= @user.name %>
        </div>
        <div class="col">
            <%= from_with model:@input, local: true do |f| %>
            <%= f.text_field :input %>
            <%= f.text_field :target %>
            <%= submit "更新する" %>
        </div>
    </div>
</div>
