<div class="container">
    <div class="row">
        <div class="col">
            <%= attacment_image_tag @title, :image, fill, 60, 60, format:'jpeg' %>
            <%= @title.title %>
            <%= attacment_image_tag @user, :image, fill, 60, 60, format:'jpeg' %>
            <%= @user.name %>
        </div>
        <div class="col">
            <% @inputs.each do |input| %>
            <%= input.input %>
            <% end %>
        </div>
    </div>
</div>