<div class="container">
    <div class="row">
        <div class="col">
            <%= render 'titles/title', title: @title, user: @user %>
            <% if @user.id == current_user.id %>
            <%= link_to "メモ一覧", notes_path(:title_id => @title.id) %>
            <% end %>
        </div>
        <div class="col">
            <% if @user.id == current_user.id %>
            <%= link_to "インプットを追加", new_input_path(:title_id => @title.id) %>
            <% end %>
            <% @inputs.each do |input| %>
                <%= input.terget %>
                <%= link_to input_path(input.id) do %>
                    <%= input.input %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>