<div class="container">
    <div class="row">
        <div class="col">
            <%= render 'titles/title', title: @title, user: @user %>
            <p>★<%= @title.nices.count %></p>
            <% if @user.id == current_user.id %>
            <%= link_to "メモ一覧", notes_path(:title_id => @title.id) %>
            <% end %>
        </div>
        <div class="col">
            <% if @user.id == current_user.id %>
            <%= link_to "インプットを追加", new_input_path(:title_id => @title.id) %>
            <% end %>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>input</th>
                    <th>terget</th>
                    <th>limit</th>
                    <th>output.count</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @inputs.each do |input| %>
                  <tr>
                    <td>
                        <%= link_to input_path(input.id) do %>
                            <%= input.input %>
                        <% end %>
                    </td>
                    <td>
                        <%= input.terget %>
                    </td>
                    <td>
                        <%= input.limit.strftime("%Y-%m-%d %H:%M:%S") %>
                    </td>
                    <td>
                    </td>
                    <td>
                        <%= input.is_vaild %>
                    </td>
                  </tr>
                </tbody>
                <% end %>
            </table>
        </div>
    </div>
</div>