<div class="container">
    <div class="row">
        <div class="col">
            <%= attachment_image_tag @title, :image, size:"100x150", format:'jpeg' %>
            <%= @title.title_name %>
            <%= attachment_image_tag @user, :profile_image, size:"60x60", format:'jpeg', fallback:"no_image.jpg" %>
            <%= @user.name %>
        </div>
        <div class="col">
            <% @inputs.each do |input| %>
                <%= input.terget %>
                <%= link_to input_path(input.id) do %>
                    <%= input.input %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>