<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-md-2 col-lg-2 mt-5 text-center">
            <%= render 'titles/title', title: @title, user: @user %>
            <% if user_signed_in? %>
                <div id="nices_buttons_<%= @title.id %>">
                    <%= render partial: 'nices/nice', locals: {title: @title} %>
                </div>
                <% if @user.id == current_user.id %>
                    <%= link_to "メモ一覧", notes_path(:title_id => @title.id), class:"btn btn-secondary" %>
                <% end %>
            <% end %>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 mt-5">
            <div class="text-right mb-3">
                <% if user_signed_in? %>
                    <% if @user.id == current_user.id %>
                        <%= link_to "インプットを追加", new_input_path(:title_id => @title.id), class:"btn btn-success" %>
                    <% end %>
                <% end %>
            </div>
            <table class="table table-bordered text-center">
                <thead class="table-dark">
                  <tr>
                    <th>input</th>
                    <th>target</th>
                    <th>limit</th>
                    <th>output.count</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @inputs.each do |input| %>
                  <tr>
                    <td>
                        <%= link_to input_path(input.id) do %>
                            <%= input.input %>
                        <% end %>
                    </td>
                    <td>
                        <%= input.target %>
                    </td>
                    <td>
                       <%= input.limit.strftime('%Y/%m/%d %H:%M:%S') %>
                    </td>
                    <td>
                        <%= input.outputs.count %>
                    </td>
                    <td>
                        <%= input.is_vaild %>
                    </td>
                  </tr>
                </tbody>
                <% end %>
            </table>
        </div>
        <div class="mt-5">
            <%= paginate @inputs %>
        </div>
    </div>
</div>
