<div class="container">
    <div class="row">
        <div class="col">
            <%= attachment_image_tag @title, :image, size: "100x150", format:'jpeg' %>
            <%= @title.title_name %>
        </div>
        <div class="col">
            <%= form_with model: @input, local:true do |f| %>
            <%= f.text_field :input %>
            <%= f.text_field :terget %>
            <%= f.submit '登録する' %>
            <% end %>
        </div>
    </div>
</div>
