<div class="container">
    <div class="row">
        <div class="col">
            <%= render 'titles/title', title: @title, user: @user %>
            <div id="nices_buttons_<%= @title.id %>">
                <%= render partial: 'nices/nice', locals: {title: @title} %>
            </div>
        </div>
        <div class="col">
            <%= @input.input %>
            <%= @input.terget %>
            <% if @user.id == current_user.id %>
            <%= link_to "インプットの編集", edit_input_path(@input.id) %>
            <% end %>
            <% if @outputs.present? && @outputs.count == 3 %>
                <% @outputs.each do |output| %>
                    <%= output.output %>
                    <%= output.feedback %>
                    <%= link_to "編集", edit_output_path(output.id) %>
                <% end %>
            <% elsif @outputs.present? && @outputs.count == 2 %>
                    <% @outputs.each do |output| %>
                    <%= output.output %>
                    <%= output.feedback %>
                    <%= link_to "編集", edit_output_path(output.id) %>
                <% end %>
                    <%= link_to "OUTPUT3入力", new_output_path(:input_id => @input.id) %>
            <% elsif @outputs.present? && @outputs.count == 1 %>
                    <% @outputs.each do |output| %>
                    <%= output.output %>
                    <%= output.feedback %>
                    <%= link_to "編集", edit_output_path(output.id) %>
                <% end %>
                    <%= link_to "OUTPUT2入力", new_output_path(:input_id => @input.id) %>
            <% else %>
                    <%= link_to "OUTPUT入力", new_output_path(:input_id => @input.id) %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <% @input.comments.each do |comment| %>
            <p></p>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <% if comment.user == current_user %>
            <%= link_to "削除", input_comment_path(comment.input, comment), method: :delete %>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= form_with(model:[@input, @comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
            <% end %>
        </div>
    </div>
</div>
