<div class="container">
    <div class="d-flex flex-row align-items-center justify-content-center mt-5">
        <div class="h5">
                インプット「<%= @input.input %>」
        </div>
        <div class="h5">
            使えそうな場面「<%= @input.target %>」
        </div>
        <div>
            <% if user_signed_in? %>
                <% if @user.id == current_user.id %>
                    <%= link_to "インプットの編集", edit_input_path(@input.id), class:"btn btn-success" %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>
                <input type="hidden" id="userYear" value="<%= @input.limit.year %>">
                <input type="hidden" id="userMonth" value="<%= @input.limit.month %>">
                <input type="hidden" id="userDate" value="<%= @input.limit.day %>">
                <input type="hidden" id="userHour" value="<%= @input.limit.hour %>">
                <input type="hidden" id="userMin" value="<%= @input.limit.min %>">
                <input type="hidden" id="userSec" value="<%= @input.limit.sec %>">
            </p>
            <h5 id="RealtimeCountdownArea" class="bg-light"></h5>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-md-2 col-lg-2 mt-1 text-center">
            <%= render 'titles/title', title: @title, user: @user %>
            <% if user_signed_in? %>
                <div id="nices_buttons_<%= @title.id %>">
                    <%= render partial: 'nices/nice', locals: {title: @title} %>
                        <% if @user.id == current_user.id %>
                            <%= link_to "インプット一覧", inputs_path(:title_id => @title.id), class:"btn btn-primary btn-sm" %>
                        <% end %>
                </div>
            <% end %>
        </div>
        <% if @outputs.present? && @outputs.count == 3 %>
        <% @outputs.each do |output| %>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <h6>OUTPUT</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.output %></div>
                <h6>FEEDBACK</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.feedback %></div>
                <div class="text-center mt-2">
                    <% if user_signed_in? %>
                        <% if @user.id == current_user.id %>
                            <%= link_to "編集", edit_output_path(output.id), class:"btn btn-success w-bold w-100 bg-gradient" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% elsif @outputs.present? && @outputs.count == 2 %>
        <% @outputs.each do |output| %>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h6>OUTPUT</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.output %></div>
                <h6>FEEDBACK</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.feedback %></div>
                <div class="text-center mt-2">
                    <% if user_signed_in? %>
                        <% if @user.id == current_user.id %>
                            <%= link_to "編集", edit_output_path(output.id), class:"btn btn-success w-bold w-100 bg-gradient" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
            <div class="col-sm-12 col-md-2 col-sm-2">
                <% if user_signed_in? %>
                    <% if @user.id == current_user.id %>
                        <%= link_to "OUTPUT3入力", new_output_path(:input_id => @input.id), class:"btn btn-primary mt-2 w-bold w-100 bg-gradient" %>
                    <% end %>
                <% end %>
            </div>
        <% elsif @outputs.present? && @outputs.count == 1 %>
        <% @outputs.each do |output| %>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h6>OUTPUT</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.output %></div>
                <h6>FEEDBACK</h6>
                <div class="border rounded px-5 py-5 text-center"><%= output.feedback %></div>
                <div class="text-center mt-2">
                    <% if user_signed_in? %>
                        <% if @user.id == current_user.id %>
                            <%= link_to "編集", edit_output_path(output.id), class:"btn btn-success w-bold w-100 bg-gradient" %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
            <div class="col-sm-12 col-md-2 col-sm-2">
                <% if user_signed_in? %>
                    <% if @user.id == current_user.id %>
                        <%= link_to "OUTPUT2入力", new_output_path(:input_id => @input.id), class:"btn btn-primary mt-2 w-bold w-100 bg-gradient" %>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <% if user_signed_in? %>
                    <% if @user.id == current_user.id %>
                        <%= link_to "OUTPUT入力", new_output_path(:input_id => @input.id), class:"btn btn-primary mt-2 w-bold w-100 bg-gradient" %>
                    <% end %>
                <% end %>
            </div>
        <% end %>

    </div>
    <div class="row border-top mt-3">
        <div class="col mb-3 mt-5">
            <% @input.comments.each do |comment| %>
                <%= attachment_image_tag comment.user, :profile_image, size:"30x30", format:'jpeg', fallback:"no_image.jpg", class:"rounded-circle" %>
                <%= comment.user.name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %>  <span class="border rounded px-3 py-2 bg-light"><%= comment.comment %></span>
                <% if user_signed_in? %>
                    <% if comment.user == current_user %>
                        <%= link_to "削除", input_comment_path(comment.input, comment), method: :delete %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <% if user_signed_in?%>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8">
            <%= form_with(model:[@input, @comment], local: true) do |f| %>
                <div class="input-group">
                <%= f.text_field :comment, rows:'5',placeholder: "コメントをここに", class:"form-control" %>
                <%= f.button :type => "submit", class:"btn btn-primary input-group-btn" do %>
                 <i class="fas fa-paper-plane"></i>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <% end %>
</div>
