<div class="error_message text-center mt-3">
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <% @user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <%= form_with model:@user, local:true do |f| %>
            <%= attachment_image_tag @user, :profile_image, size: "60 x 60", fallback:"no_image.jpg" %>
            <%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>
            <%= f.text_field :name, autofocus:true, autocomplete: "name", placeholder:"ユーザーネーム" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <%= f.submit "変更を保存" %>
            <% end %>
        </div>
    </div>
</div>