<div class="container">
    <div class="row">
        <div class="col">
            <%= from_with model:@user, local:true do |f| %>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback:"no_image.jpg" %>
            <%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>
            <%= f.text_field :name, autofocus:true, id:"inputName", placeholder:"ユーザーネーム" %>
            <%= f.submit "変更を保存" %>
            <% end %>
        </div>
    </div>
</div>