<div class="container">
    <div class="row">
        <div class="col">
            <%= link_to user_path(@user.id) do %>
            <%= attachment_image_tag @user, :profile_image, size: "60x60", format:'jpeg', fallback:"no_image.jpg" %>
            <% end %>
            <h5><%= @user.name %></h5>
            <% if @user.id == current_user.id %>
            <%= link_to "プロフィール編集", edit_user_path(@user) %>
            <% end %>
        </div>
        <% @titles.each do |title| %>
        <div class="col">
            <p>
                <%= link_to inputs_path(:title_id => title.id) do %>
                <%= attachment_image_tag title, :image, size: "100x150", format:'jpeg', fallback:"no_image.jpg" %>
                <% end %>
            </p>
            <p><%= title.title_name %><p>
            <% if title.nices.count == 0 %>
                <p>☆  0</p>
            <% else %>
                <p>★<%= title.nices.count %></p>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
