<div class="container">
    <div class="row text-center mb-3">
        <div class="col">
            <img id="preview" class="col-8">
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-5 mt-5">
            <%= form_with model: @serach_form, url: search_titles_path, local: true, scope: :q, method: :get do |f| %>
                <%= f.label :keyword, 'キーワード' %>
                <%= f.text_field :keyword, class: 'form-control', value: @search_form.keyword %>
                <%= f.submit '検索 '%>
            <% end %>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <%= @titles.each do |title| %>
            <%= title["items"][i]["volumeInfo"]["title"] %>
        <% end %>
    </div>
</div>