<div class="container">
    <div class="row">
        <div class="col">
            <%= attachment_image_tag @title, :image, size: "100x150", format:'jpg' %>
            <h5><%= @title.title_name %></h5>
            <%= link_to "インプットを登録する", new_input_path(:title_id => @title.id) %>
            <%= link_to "メモを登録する", new_note_path(:title_id => @title.id) %>
            <%= link_to "タイトルを編集する", edit_title_path(@title.id) %>
            <%= link_to "タイトルを削除する", title_path(@title.id), method: :delete %>
        </div>
    </div>
</div>